* {
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    overflow-x: hidden;
}

.navbar {
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 15px;
    gap: 15px;
}

.navlogo {
    height: 50px;
    width: 110px;             
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    height: 42px;             
    width: 100px;
    background-image: url("websitelogo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    
    padding: 4px;
    border-radius: 6px;
    transition: all 0.25s ease;
}


.logo:hover {
    transform: scale(1.05);
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.35);
}


.border {
    border: 1.5px solid transparent;
    padding: 5px;
}

.border:hover {
    border: 1.5px solid white;
}

.add1 {
    color: #cccccc;
    font-size: 0.75rem;
}

.add2 {
    font-size: 0.9rem;
    font-weight: bold;
}

.navaddresslogo {
    display: flex;
    align-items: center;
    gap: 5px;
}

.navsearch {
    display: flex;
    align-items: center;
    background-color: white;
    width: 620px;
    height: 40px;
    border-radius: 4px;
    overflow: hidden;
}

.searchselect {
    background-color: #f3f3f3;
    height: 40px;
    width: 50px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}

.seachinput {
    flex: 1;
    height: 40px;
    width: 100%;
    font-size: 1rem;
    border: none;
    padding-left: 10px;
}

.seachinput:focus {
    outline: none;
}

.searchlogo {
    width: 45px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #febd68;
    font-size: 1.2rem;
    color: black;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.navsearch:hover {
    background-color: orange;
}

.span {
    font-size: 0.3rem;
}

.navsecond {
    font-size: 0.85rem;
    font-weight: 700;
}

.navcart i {
    font-size: 30px;
}

.navcart {
    font-size: 0.85rem;
    font-weight: 700;
}

.panel {
    height: 40px;
    background-color: #222f3d;
    display: flex;
    color: white;
    justify-content: space-evenly;
    align-items: center;
}

.paneloptions p {
    display: inline;
    width: 700px;
    font-size: 0.85rem;
    margin-left: 15px;
}

.paneldeals {
    font-size: 0.9rem;
    font-weight: 700;
}

.herosection {
    background-image: url("heroimage.png");
    background-size: cover;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.heromsg {
    background-color: white;
    color: black;
    height: 40px;
    width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
    margin-bottom: 25px;
}

.heromsg a {
    color: #007185;
}

.shopsection {
    display: flex;
    justify-content: space-evenly;
    background-color: black;
    flex-wrap: wrap;
    padding: 20px 0;
}

.box {
    height: 325px;
    width: 300px;
    border: 2px solid black;
    background-color: white;
    margin-top: 10px;
    margin-bottom: 15px;
    border-radius: 10px;
}

.box1content {
    margin-left: 1rem;
    margin-right: 1rem;
}

.box1img {
    height: 225px;
    background-size: cover;
    background-position: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.box1content p {
    color: #007185;
}

.box1content h2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    margin-top: 15px;
}

.fpanel1 {
    background-color: #37475a;
    color: white;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
    margin-top: 15px;
}

.fpanel2 {
    background-color: #222f3d;
    color: white;
    height: 400px;
    display: flex;
    justify-content: center;
}

ul {
    margin: 20px;
}

ul a {
    display: block;
    color: #dddddd;
    margin-top: 10px;
    font-size: 0.75rem;
}

.fpanel3 {
    background-color: #222f3d;
    color: white;
    border-top: 0.5px solid white;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.panel3logo{
    height: 42px;             
    width: 100px;
    background-image: url("websitelogo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    
    padding: 4px;
    border-radius: 6px;
    transition: all 0.25s ease;
}

.panel3logo:hover{
    transform: scale(1.05);
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.35);
}

.fpanel4 {
    background-color: #0f1111;
    color: white;
    height: 80px;
    text-align: center;
    font-size: 0.8rem;
}

.fpages {
    padding-top: 25px;
}

.copyright {
    padding-top: 5px;
}
